body {
    margin: 0; padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* random shit */
.image-container{}
.image-container img{width: 200px; box-shadow: 0 0 2px gray;}

/* override */
body .pesdk-react-header{display: none;}
body .pesdk-react-subHeader.pesdk-react-subHeader__row{display: none;}

/* hide react ui */
/*body .pesdk-react-editor .pesdk-react-controls__table{display: none;}*/
body .pesdk-react-editor .pesdk-react-controls__table{visibility: hidden;}

/* override background color */
body .pesdk-react-editor .pesdk-react-screen, body .pesdk-react-editor .pesdk-react-controls__container__row,
body .pesdk-react-editor .pesdk-react-canvas__container__row{background: #fbfbfb;padding:0;border-radius:0;}

body .pesdk-react-editor .pesdk-react-controls__container__row{position:relative;z-index:-1;}

/* react ui reposition */
body .pesdk-react-editor .pesdk-react-controls__container__cell{position: relative; }
body .pesdk-react-controls.pesdk-react-controls__overlay.pesdk-react-controls__overlay--large{margin-bottom: 30px;}

.pesdk-react-editor{border-radius:0;-webkit-mask-image:none;background: #fbfbfb;}

/* custom */

.image-editor{width: 100%;position: relative;}
.image-editor .photo-editor-instance-container{height: 600px;margin: 0 2%;}
.image-editor:not(.active){visibility: hidden;}

.photo-editor-ui_nav{position: absolute;}
.photo-editor-ui_nav button{margin: 10px;}
.photo-editor-ui_nav-paging{}
.photo-editor-ui_nav-paging .photo-editor-ui_pg-item {cursor: pointer; margin: 4px; width: 20px;}

/* photo editor ui */
.photo-editor-ui_container{width: 100%;margin-top: -84px;}
.photo-editor-ui_container > .photo-editor-ui_tab-contrll-container{}
.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span{display: inline-block; width: 33%; text-align: center; cursor: pointer;padding: 18px 0px 13px;position:relative;border-bottom: 5px solid transparent;}
.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span.active{color: #787888;border-bottom: 5px solid #b4b4bc;}
.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span:before{content: "";width: 25px;height: 25px;display: inline-block;margin-bottom: -6px;margin-right: 5px;}
.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span:nth-child(1):before{background: url(../img/icons/picture_settings.png);background-size: cover;}
.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span.active:nth-child(1):before{background: url(../img/icons/picture_settings_active.png);background-size: cover;}
.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span:nth-child(2):before{background: url(../img/icons/filter_gallery.png);background-size: cover;}
.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span.active:nth-child(2):before{background: url(../img/icons/filter_gallery_active.png);background-size: cover;}
.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span:nth-child(3):before{background: url(../img/icons/color_settings.png);background-size: cover;}
.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span.active:nth-child(3):before{background: url(../img/icons/color_settings_active.png);background-size: cover;}

.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span:last-child{width:34%;}
.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span:after{content: "";height: 24px;width: 1px;background: #d3d3d3;right: 0;position: absolute;}
.photo-editor-ui_container > .photo-editor-ui_tab-control-container > span:last-child:after{display:none;}

.photo-editor-ui_container > .photo-editor-ui_tab-container{width: 100%;overflow: hidden;}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div{text-align: center;opacity: 0;height: 0px;margin: 0 2%;position: relative;}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div.active{opacity: 1;height: auto;}

.photo-editor-ui_container .slick-track{}
.photo-editor-ui_container .slick-track > div{position:relative;color: #777675;font-style: italic;font-size: 14px;cursor: pointer;outline:none;}
.photo-editor-ui_container .slick-track > div img{margin: 0 auto;width: 85%;border-radius: 55px;}
.photo-editor-ui_container .slick-track > div span{position: absolute;display: inline-block;width: 100%;left: 0;top: 56%;}

.photo-editor-ui_container .slick-track > div:hover{color:#c0b9a8;}
.photo-editor-ui_container .slick-track > div:hover img{background:#c0b9a8;}

/* picture settings */

.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-ui_rotate-left{}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-ui_rotate-right{}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-ui_flip-h{}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-ui_flip-v{}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-ui_crop{}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-ui_resize{}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-ui_fitToScreen{}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-ui_resetAll{}

.photo-editor-ui_lock-ratio.active{background-color: #2e2e2e; color: white;}

/* color settings */
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-ui_brightness{}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-ui_saturation{}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-ui_contrast{}

/* filter item */
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-filter-item{ display: inline-block; margin: 4px; cursor: pointer; text-align: center;}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-filter-item img{width: 80%;border-radius:0;}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-filter-item div{color: gray;margin-top: 6px;}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-filter-item:hover img{border: 1px solid #c0b9a8;}
.photo-editor-ui_container > .photo-editor-ui_tab-container > div .photo-editor-filter-item:hover div{color: #c0b9a8;}

.photo-editor-ui_tab-control-container{background: #f4f4f4;color: #8c8678;margin-bottom: 10px;position: relative;margin: 0 2% 20px;font-size: 16px;}

.photo-editor-ui_sub-controls-container{text-align:center;}
.photo-editor-ui_sub-controls-container .photo-editor-ui_sub-controls-inner{}
.photo-editor-ui_sub-controls-container .main-controls-button{display:inline-block;margin:0 5px;position:relative;z-index:9;cursor: pointer;}
.photo-editor-ui_sub-controls-container .main-controls-button span{display:none;}

.pesdk-react-editor .pesdk-react-splashScreen{background:none;}

/* Buttons */

.photo-editor-ui_buttons{display:table;width: 100%;text-align:right;padding: 48px 2% 28px;}
.photo-editor-ui_buttons:before{border-radius: 0 0 5px 5px;content:"";position:absolute;width: 100%;height: 100px;left: 0;bottom: 0;z-index: -1;
    background: #f2f0ed;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjBlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjZmFmYWY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #f2f0ed 0%, #fafaf9 3%, #ffffff 6%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #f2f0ed 0%,#fafaf9 3%,#ffffff 6%,#ffffff 100%);
    background: linear-gradient(to bottom,  #f2f0ed 0%,#fafaf9 3%,#ffffff 6%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f0ed', endColorstr='#ffffff',GradientType=0 );
}
.photo-editor-ui_buttons span{margin-left: 1%;cursor:pointer;text-transform: uppercase;font-size: 18px;font-weight: bold;color: white;padding: 10px 15px;border-radius: 5px;text-decoration: none;}
.photo-editor-ui_buttons span.photo-editor-ui_btn-dispose{background: #c0b9a8;margin-left:0;border-bottom: 1px solid #b1aba4;float:left;}
.photo-editor-ui_buttons span.photo-editor-ui_btn-save{background: #3c3d4d;border-bottom: 1px solid #494c78;float: right;}

/* UI Slider */

.ui-slider{margin: 25px 0 18px;}
.ui-widget-content{background: #e1e4e9;}
.ui-slider .ui-widget-header{background: #9097a4;}
.ui-slider .ui-slider-handle{width: 26px;height: 26px;top: -8px;margin-left: -13px;border: none;background: #9097a4;border-radius:13px;outline:none;}
.ui-slider .ui-slider-handle .ui-slider-numbox{position: absolute;left: 0;width: 100%;text-align: center;top: -20px;color: #787888;font-style: italic;font-weight: 300;}
.photo-editor-ui_slider-static-box{color: #e1e4e9;font-style: italic;font-weight: 300;position: absolute;top: -2px;width: 100%;left: 0;text-align: center;z-index: 9;}

/* Slider Dots */

.slick-slider{z-index:9;overflow: hidden;}

.slick-dots{display: block;width: 100%;padding: 0;list-style: none;text-align: center;line-height: 0;margin: 10px 0 0px;}
.slick-dots li{position: relative;display: inline-block;width: 20px;height: 20px;margin: 0 0.5%;padding: 0;cursor: pointer;}
.slick-dots li button{display: block;width: 20px;height: 20px;font-size: 0;line-height: 0;color: transparent;padding: 5px;cursor: pointer;border: 0;outline: none;background: #8c8678;border-radius:10px;}
.slick-dots li.slick-active button{background:#787888;}

.photo-editor-ui_loader{position: absolute; padding-top: 40%; background-color: #ffffff; color: #464646; width: 100%; height: 100%; text-align: center; z-index: 99; top: 0; }


/* Media Queries */

@media only screen and (max-width : 1000px){
    .image-editor .photo-editor-instance-container{height: 550px;}
    .photo-editor-ui_container .slick-track > div{font-size: 13px;}
}
@media only screen and (max-width : 850px){
    .image-editor .photo-editor-instance-container{height: 480px;}
}
@media only screen and (max-width : 700px){
    .image-editor .photo-editor-instance-container{height: 450px;}
    .photo-editor-ui_container .slick-track > div{font-size: 13px;}
    .slick-dots li{width: 16px;height: 16px;}
    .slick-dots li button{width: 16px;height: 16px;}
    .photo-editor-ui_buttons{padding-bottom:33px;}
    .photo-editor-ui_buttons span{font-size: 17px;font-weight: 600;padding: 6px 12px;}
}
@media only screen and (max-width : 650px){
    .image-editor .photo-editor-instance-container{height: 430px;}
}
@media only screen and (max-width : 600px){
    .image-editor .photo-editor-instance-container{height: 400px;}
}
@media only screen and (max-width : 550px){
    .image-editor .photo-editor-instance-container{height: 380px;}
    .photo-editor-ui_container > .photo-editor-ui_tab-control-container > span:before{margin-right:0;}
    .photo-editor-ui_container > .photo-editor-ui_tab-control-container > span span{display:none;}
}
@media only screen and (max-width : 500px){
    .image-editor .photo-editor-instance-container{height: 350px;}
}
@media only screen and (max-width : 450px){

}
@media only screen and (max-width : 400px){
    .photo-editor-ui_container .slick-track > div{font-size: 12px;}
    .photo-editor-ui_container .slick-track > div img{width: 90%;}
}
@media only screen and (max-width : 350px){
    .photo-editor-ui_container .slick-track > div{font-size: 11px;}
}
